.transparentBackground {
    --background: transparent !important;
    background: transparent !important;
}
.backgroundColor {
    background: #7FB1B7;
}

.whiteColor {
    color: white;
}

.logoImg {
    height: 5vh;
}

.fullHeight {
    height: 100vh;
}

.formItemWidth {
    width: 80%;
}

.marginBottom5vh {
    margin-bottom: 5vh;
}

.marginTop3vh {
    margin-top: 3vh;
}

.marginTop10vh {
    margin-top: 10vh;
}

.maxWidth25vh {
    max-width: 25vw;
}

.boldText {
    font-weight: bold;
}

.paddingLeft5vw {
    padding-left: 5vw;
}